@model IEnumerable<ServiceTrackingAutomation.Domain.Entities.ServiceAction>

@{
    ViewData["Title"] = "List";
}

<div class="card shadow mb-4">
    <div class="card-header py-3 ">
        <div class="row px-3">
            <div class="d-flex justify-content-between">
                <h2 class="m-0 font-weight-bold text-black">Servis Hareketleri</h2>
                @*<a asp-action="Create" class="btn btn-success ">Yeni Servis  Ekle</a>*@
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <table class="table" id="my_DataTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ComplaintId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ServiceId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SentToServiceDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ReceivedFromServiceDate)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.ActionLink(item.ComplaintId.ToString(),"Details","Complaint",new { id = item.ComplaintId})
                                </td>
                                <td>
                                    @Html.ActionLink(item.ServiceId.ToString(),"Details","Service",new { id = item.ServiceId})

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SentToServiceDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReceivedFromServiceDate)
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Menü
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "dropdown-item text-success fw-bold" })
                                            @Html.ActionLink("Detay", "Details", new { id = item.Id }, new { @class = "dropdown-item text-info fw-bold" })
                                            <div class="dropdown-divider"></div>

                                            @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "text-danger dropdown-item fw-bold" })
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
